  <!DOCTYPE html>
  <html>
    <head>
      <title> Oechsle SA </title>
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/importer.css">
      <link rel="stylesheet" href="/styles/Sylee.css">
      <!--STYLES END-->
    </head>
    <body>
      <div3 style="float:left; width:15%">
      <img src="images/logopng.png">
      </div3> <br>
      <div1 style="float:left; width:8%">
        Productos </div1>
      <div2 style="float:left; width:8%">
        Contacto
      </div2>
      <img src="images/esa.jpg">


      <%- body %>
    </body>
  </html>
