  <!DOCTYPE html>
  <html>
    <head>
      <title> Oechsle SA </title>
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/importer.css">
      <link rel="stylesheet" href="/styles/Sylee.css">
      <!--STYLES END-->
    </head>
    <body>
    <h3>
      Contacto
      <a href="Contacto">Pagina Castrol</a>
    </h3>
    <h3>
      Productos
      <a href="Productos">Pagina Castrol</a>
    </h3>
      <%- body %>

    </body>
  </html>
