  <!DOCTYPE html>
  <html>
    <head>
      <title> Oechsle SA </title>
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/importer.css">
      <link rel="stylesheet" href="/styles/Sylee.css">
      <!--STYLES END-->
    </head>
    <body>
      <div3 style="float:left; width:15%">
      <img src="images/logopng.png">
      </div3> <br>
      <div1 style="float:left; width:4%">
        <a href="/" class="btn btn-primary">Inicio</a> </div1>

      <div6 style="float:left; width:9%">
        <a href="/Carrito" class="btn btn-primary">Carrito</a>
      </div6>
      <div3 style="float:left; width:8%">
        <a href="/LaEmpresa.ejs" class="btn btn-primary">La Empresa</a>
      </div3>
      <div4 style="float:left; width:57%">
        <a href="/Cobros" class="btn btn-primary">¿Donde y como pagar?</a>
      </div4>
      <div2 style="float:left; width:5%">
        <img src="images/usuario.png" width="40px" height="40px">
        <%
        if (req.session.user) { %>
          <%= req.session.user.name %>
          <a href="/logout">Salir</a>
        <% }else{%>
          <a href="/login">Ingresar</a>
        <%}%>
      </div2>

       <nav><!--class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
			<div class="container">
				<a href="/" class="navbar-brand" title="OECHSLE S.A.">
					<img src="/img/logo_OE.png" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu-general" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar-menu-general">
					<ul class="navbar-nav mr-auto">
						<li id="gdmEmpresa" class="nav-item"><a href="/Empresa.aspx" class="nav-link">La Empresa</a></li>
						<li id="gdmServicio" class="nav-item"><a href="/Servicios.aspx" class="nav-link">Servicios</a></li>
						<li id="gdmProducto" class="nav-item"><a href="/Productos.aspx" class="nav-link">Productos</a></li>
						<li id="gdmCtasBank" class="nav-item"><a href="/CuentasBancarias.aspx" class="nav-link">¿Dónde pagar?</a></li>
						<li id="gdmContacto" class="nav-item"><a href="/Contacto.aspx" class="nav-link">Contacto</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">


								<a href="https://oechsle.osapp.com.ar" class="btn btn-primary btn-sm navbar-btn"><i class="fas fa-sign-in-alt"></i>&nbsp;Acceso Nueva APP</a>

					</ul>

				</div>
			</div> -->
		</nav>

      <%- body %>
    </body>
  </html>
