body{
  background-color: #ffffff;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 1px;
  padding-top: 1px;
  padding-bottom: 5px;
  margin-bottom: 10px;


}
h1{
  text-align: left;
}

h2{
  color: #001c20;
  text-align: left;
  font-size: 200%;
  text-decoration: underline;
}

h3{
  color: #001c20;
  text-align: center;
  font-size: 200%;
}

footer{
  font-size: 140%;
}
div1{
  text-decoration: underline;
  font-size: 125%;
}
div2{
  text-decoration: underline;
  font-size: 125%;
}
/* si hago fotter1, puedo editar cada uno de elllos como quiera y ver como separar los subtitulos de las fotos y que los obrdes de los de la dercha
sean mas parejos que los de la izquieda, puedp poner el logo en h1 para editarlo en fotter */
