body#homepage{
  background-color: #ffffff;
  padding: 20px;
  margin-right: 25px;
  margin-left: 40px;
}
body#ProductsFram{
  background-color: #F2A103;
  padding: 20px;
  margin-right: 25px;
  margin-left: 40px;
}
body#ProductsMolykote{
   background-color: #14acc2;
   padding: 20px;
   margin-right: 25px;
   margin-left: 40px;
 }
body#ProductsCastrol{
  background-color: #00AF69;
  padding: 20px;
  margin-right: 25px;
  margin-left: 40px;
}
body#login{
  background-color: #ffffff;
  padding: 20px;
  margin-right: 25px;
  margin-left: 40px;
}

img{
  text-align: center;
}

h1{
  text-align: left;
}

h3{
  color: #001c20;
  text-align: center;
  font-size: 200%;
  text-decoration: underline;
}

footer{
  font-size: 140%;

}
div1{
  text-decoration: underline;
  font-size: 125%;
}
div2{
  text-decoration: underline;
  font-size: 125%;
}
div3{
  text-decoration: underline;
  font-size: 125%;
}
div4{
  text-decoration: underline;
  font-size: 125%;
  white-space: nowrap;
}
ol{
  vertical-align: top;
}
div5{
  text-align: center;
}
div6{
  text-align: center;
  font-size: 125%;
}
form{
  text-align: center;
}

/* si hago fotter1, puedo editar cada uno de elllos como quiera y ver como separar los subtitulos de las fotos y que los obrdes de los de la dercha
sean mas parejos que los de la izquieda, puedp poner el logo en h1 para editarlo en fotter, la foto del gol tren, la iba a poner
 en todas las pagnas pero mejor la dejo solo en la de los produtcos, asi q la saque de l ayout y la puse arriba del en homepage*/
