<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <style>
        form {
            display: block;
            margin-top: 0em;
        }
    </style>
</head>
<body>
<h2>Deje sus datos, nos podremos con usted al instante</h2>
Nombre:
Apellido:
Email:
Usuario:
Password:
Confirmar Password:

</body>
</html>
