<img src="images/esa.jpg">
<div>
    <h3> Nuestros Productos Principales</h3>
</div>
    <section>
        <div style="float:left; width:37%">
        <div class="container mt=5">
        <div class="card" style="width: 18rem;">
        <img src="images/castrol.png" class="card-img-top"/>
            <footer>CASTROL</footer>
        <div class="card-body">
            Aceites de todo para todos los motores
            <a href="https://www.castrol.com/" class="btn btn-primary">Pagina Castrol</a>
        </div>
        </div>
        </div>
        </div>
    </section>


    <section>
        <div style="float:left; width:37%">
        <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/fram.png"  class="card-img-top"/>
            <footer>FRAM</footer>
            <div class="card-body">
                Lo mejor en filtros de todo tipo de vehiculos
                <a href="https://catalogo.fram.com.ar/" class="btn btn-primary"/>Pagina FRAM</a>

            </div>
        </div>
        </div>
    </div>

    </section>


    <section>
    <div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/moly.png" class="card-img-top"/>
            <footer>MOLYKOTE</footer>
                Molykote, productos de alta gama. <br>
                <a href="https://www.molysil.com/"/>Pagina Molykote</a>
            </div>
        </div>
    </div>
    </div>
    </section>
    <br>
    <div class ="subtitle">
        <h3>
            Otras distribuciones
        </h3>
    </div>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/absorsol.png" class="card-img-top"/>
                <footer>ABSORSOL</footer>
                Absorbente industrial <br>
                <a href="https://www.solminerales.com.ar/i_absorsol_dry.php"/>Pagina Absorsol</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/acdelco.png" class="card-img-top"/>
                <footer>ACDELCO</footer>
                Baterías <br>
                <a href="http://www.acdelco.com.ar/"/>Pagina Acdelco</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/argenrap.png" class="card-img-top"/>
                <footer>ARGENRAP</footer>
                Remachadoras e insumos <br>
                <a href="http://www.argenrap.com/index.php"/>Pagina Argenrap</a>
            </div>
        </div>
    </div>
    </div>
</section>


<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/autolite.png" class="card-img-top"/>
                <footer>AUTOLITE</footer>
                Bujías para motores <br>
                <a href="https://www.autolite.com/"/>Pagina Autolite</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/acytra.png" class="card-img-top"/>
                <footer>ACYTRA</footer>
                Cerraduras y cerrojos <br>
                <a href="http://www.acytra.com/"/>Pagina Acytra</a>
            </div>
        </div>
    </div>
    </div>
</section>


<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/att.png" class="card-img-top"/>
                <footer>ATT</footer>
                Calzado de seguridad<br>
                <a href="https://www.attseguridad.com.ar/"/>Pagina ATT</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/autopolish.png" class="card-img-top"/>
                <footer>AUTOPOLISH</footer>
                Ceras,siliconas y pastas de pulir<br>
                <a href="https://autopolish.com.ar/"/>Pagina Autopolish</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/akaienergy.png" class="card-img-top"/>
                <footer>AKAIENERGY</footer>
                Lámparas LED de ultra bajo consumo<br>
                <a href="https://www.akaienergy.com.ar/"/>Pagina Akaienergy</a>
            </div>
        </div>
    </div>
    </div>
</section>

