<!--<img src="images/esa.jpg">
<div>
    <h3> Nuestros Productos Principales</h3>
</div>
    <section>
        <div style="float:left; width:37%">
        <div class="container mt=5">
        <div class="card" style="width: 18rem;">
        <img src="images/castrol.png" class="card-img-top"/>
            <footer>CASTROL</footer>
        <div class="card-body">
            Aceites de todo para todos los motores
            <a href="https://www.castrol.com/" class="btn btn-primary">Pagina Castrol</a>
        </div>
        </div>
        </div>
        </div>
    </section>


    <section>
        <div style="float:left; width:37%">
        <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/fram.png"  class="card-img-top"/>
            <footer>FRAM</footer>
            <div class="card-body">
                Lo mejor en filtros de todo tipo de vehiculos
                <a href="https://catalogo.fram.com.ar/" class="btn btn-primary"/>Pagina FRAM</a>

            </div>
        </div>
        </div>
    </div>

    </section>


    <section>
    <div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/moly.png" class="card-img-top"/>
            <footer>MOLYKOTE</footer>
                Molykote, productos de alta gama. <br>
                <a href="https://www.molysil.com/"/>Pagina Molykote</a>
            </div>
        </div>
    </div>
    </div>
    </section>
    <br>
    <div class ="subtitle">
        <h3>
            Otras distribuciones
        </h3>
    </div>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/absorsol.png" class="card-img-top"/>
                <footer>ABSORSOL</footer>
                Absorbente industrial <br>
                <a href="https://www.solminerales.com.ar/i_absorsol_dry.php"/>Pagina Absorsol</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/acdelco.png" class="card-img-top"/>
                <footer>ACDELCO</footer>
                Baterías <br>
                <a href="http://www.acdelco.com.ar/"/>Pagina Acdelco</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/argenrap.png" class="card-img-top"/>
                <footer>ARGENRAP</footer>
                Remachadoras e insumos <br>
                <a href="http://www.argenrap.com/index.php"/>Pagina Argenrap</a>
            </div>
        </div>
    </div>
    </div>
</section>


<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/autolite.png" class="card-img-top"/>
                <footer>AUTOLITE</footer>
                Bujías para motores <br>
                <a href="https://www.autolite.com/"/>Pagina Autolite</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/acytra.png" class="card-img-top"/>
                <footer>ACYTRA</footer>
                Cerraduras y cerrojos <br>
                <a href="http://www.acytra.com/"/>Pagina Acytra</a>
            </div>
        </div>
    </div>
    </div>
</section>


<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/att.png" class="card-img-top"/>
                <footer>ATT</footer>
                Calzado de seguridad<br>
                <a href="https://www.attseguridad.com.ar/"/>Pagina ATT</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/autopolish.png" class="card-img-top"/>
                <footer>AUTOPOLISH</footer>
                Ceras,siliconas y pastas de pulir<br>
                <a href="https://autopolish.com.ar/"/>Pagina Autopolish</a>
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div style="float:left;">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <img src="images/akaienergy.png" class="card-img-top"/>
                <footer>AKAIENERGY</footer>
                Lámparas LED de ultra bajo consumo<br>
                <a href="https://www.akaienergy.com.ar/"/>Pagina Akaienergy</a>
            </div>
        </div>
    </div>
    </div>
</section>

<div class="card bg-light m-2" style="max-width: 15rem;">
    <div class="card-body">
        <h6 class="card-title">SAMOA</h6>
        <img src='images/samoa.png' alt="" width="202" height="152" class="" />
        <p class="card-text small">Equipamiento para lubricentros.</p>
    </div>
</div> se puede hacer asi tambien pero no me gusta como queda-->

<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2339.61062712214!2d-64.20561179375073!3d-31.395890290669062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432988cd85a8987%3A0x91aebf877bf0e18d!2sOechsle%20S.A.!5e0!3m2!1ses!2sar!4v1623033538239!5m2!1ses!2sar" width="1300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!-- en style le pongo margen grande asi queda parecido a la pagina , pero por ahora lo dejo ahi -->
<section>
    <div style="float:left; width:1%">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <h3>Nuestra Oficina</h3>
                <div class="card-body">
                    <ol>
                        <l1>Dr. Eliseo Cantón 1870</l1><br>
                        <l1>X5003AHB, Córdoba, AR</l1><br>
                        <l1>+54 351 489 0900</l1><br>
                        <l1>+54 351 489 0809</l1><br>
                        <l1>atclientes@oechsle.com.ar</l1><br>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div5>
    <h3> Dejenos sus datos</h3>
</div5>
<form action="ejemplo.php" method="get">
    <p>Nombre: <input type="text" name="Nombre" size="40"></p>
    <p>Apellido: <input type="text" name="Apellido" size="40"></p>
    <p>Emal: <input type="text" name="Email" size="40"></p>
    <p>Año de nacimiento: <input type="number" name="nacido" min="1900"></p>
    <p>Auto-parte o Moto-partes:
        <input type="radio" name="hm" value="h"> Auto-partes
        <input type="radio" name="hm" value="m"> Moto-partes
    </p>
    <p>Desea que lo llamen nuestros vendedores?
        <input type="radio" name="hm" value="h"> Si
        <input type="radio" name="hm" value="m"> No
    </p>
    <p>Telefono: <input type="text" name="Telefono" size="40"></p>
    <p>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
    </p>
</form>
