<h1>
    Nuestra empresa
</h1>
<h2>
    Historia
</h2>

    En 1959, Carlos W. Oechsle inició el negocio autopartista dedicándose, en primera instancia, a la venta de repuestos para motos. Su esfuerzo y dedicación, además de sus ansias de crecimiento, lo llevaron año tras año a la evolución del negocio. Es así como decide enriquecer el servicio prestado, basado en la buena atención, predisposición permanente y respuesta inmediata, a partir de la ampliación de las líneas de productos.

    Con el paso del tiempo, fuimos incorporando nuevos ítems de marcas reconocidas a fin de cubrir las necesidades cada vez más exigentes del rubro autopartista nacional. Al mismo tiempo, iniciamos la distribución de productos y servicios destinados al sector ferretero, mediante la incorporación de una amplia y variada gama de marcas.

    En reconocimiento a su empeño y excelencia, Oechsle S.A. se convierte en Representante y Distribuidor Exclusivo de prestigiosas marcas de renombre internacional como FRAM, MOLYKOTE y CASTROL, entre otras.

    Este liderazgo aún se mantiene vigente gracias a nuestra vocación de servicio, la política de reinversión, la sólida situación financiera y patrimonial de la empresa y el vasto conocimiento del sector.
