<iframe style="border: 0;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2339.61062712214!2d-64.20561179375073!3d-31.395890290669062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432988cd85a8987%3A0x91aebf877bf0e18d!2sOechsle%20S.A.!5e0!3m2!1ses!2sar!4v1623033538239!5m2!1ses!2sar"
        width="1300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!-- en style le pongo margen grande asi queda parecido a la pagina , pero por ahora lo dejo ahi -->
<section>
    <div style="float:left; width:1%">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <h3>Nuestra Oficina</h3>
                <div class="card-body">
                    <ol>
                        <l1>Dr. Eliseo Cantón 1870</l1>
                        <br>
                        <l1>X5003AHB, Córdoba, AR</l1>
                        <br>
                        <l1>+54 351 489 0900</l1>
                        <br>
                        <l1>+54 351 489 0809</l1>
                        <br>
                        <l1>atclientes@oechsle.com.ar</l1>
                        <br>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <h3> Ingrese </h3>
    <form action="/login" method="post">
        <% if(msg){ %>
            <div style="color: red"><%= msg %></div>
        <% } %>
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password">
        <input type="submit">
    </form>
</div>
<!--<form action="ejemplo" method="get">
    <p>Nombre: <input type="text" name="Nombre" size="40"></p>
    <p>Apellido: <input type="text" name="Apellido" size="40"></p>
    <p>Emal: <input type="text" name="Email" size="40"></p>
    <p>Año de nacimiento: <input type="number" name="nacido" min="1900"></p>
    <p>Auto-parte o Moto-partes:
        <input type="radio" name="hm" value="h"> Auto-partes
        <input type="radio" name="hm" value="m"> Moto-partes
    </p>
    <p>Desea que lo llamen nuestros vendedores?
        <input type="radio" name="hm" value="h"> Si
        <input type="radio" name="hm" value="m"> No
    </p>
    <p>Telefono: <input type="text" name="Telefono" size="40"></p>
    <p>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
    </p>
</form> -->
