<body id="metodosdepago">
<iframe style="border: 0;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2339.61062712214!2d-64.20561179375073!3d-31.395890290669062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432988cd85a8987%3A0x91aebf877bf0e18d!2sOechsle%20S.A.!5e0!3m2!1ses!2sar!4v1623033538239!5m2!1ses!2sar"
        width="1300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>




<div5>
    <h3> Elija el metodo de pago que mas se ajuste a sus necesidades </h3>
</div5>





<div3 style="text-align:center">
    <a href="/shipping" class="btn btn-primary">Tarjeta de Credito/Debito</a> </div3>
<br>
<!-- ver como hacer el profe para no crear una view en carrito y cuando aprieta se crea sola. hacer eso aca y luego desde ahi hacemos un boton para shipping al igual que en efectivo.-->
<!-- en efectivo lo que vamos a hacer es insertar una factura de su compra y segun el banco que elije le proporciona un cbu y luego sale una ventana donde debe adjuntar el comprobante-->

<div6 style="text-align:center">
    <a href="/Efectivo" class="btn btn-primary">Efectivo</a> </div6>
<br>

<div1 style="text-align:center">
    <a href="/transferencia" class="btn btn-primary">Transferencia Bancaria</a> </div1>




</body>

