<body id="ProductsFram">
<h3>Productos Fram</h3>

<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/filtos.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Filtro de Aire Racing</footer>
            CBR17-170 <br>
            <a href="/Carrito"/>Seleccionar</a>
            <form1 action="/Carrito" method="Post">
                <p>Cantidad: <input type="number" name="Cantidad" size="10"></p>
            </form1>
        </div>
    </div>
</div>
</div>

<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/prod4.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Filtro de Aire TIT</footer>
            CBR17-370 <br>
            <a href="/Carrito"/>Seleccionar</a>
            <form1 action="/Carrito" method="Post">
                <p>Cantidad: <input type="number" name="Cantidad" size="10"></p>
            </form1>
        </div>
    </div>
</div>
</div>

<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/fil.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Filtro de Habitaculo</footer>
            CBR17-470 <br>
            <a href="/Carrito"/>Seleccionar</a>
            <form1 action="/Carrito" method="Post">
                <p>Cantidad: <input type="number" name="Cantidad" size="10"></p>
            </form1>
        </div>
    </div>
</div>
</div>
<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 25rem;">
            <img src="images/lalala.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Filtro de Aire</footer>
            CBR17-130 <br>
            <a href="/Carrito"/>Seleccionar</a>
            <form1 action="/Carrito" method="Post">
                <p>Cantidad: <input type="number" name="Cantidad" size="10"></p>
            </form1>
        </div>
    </div>
</div>
</div>
<br>
<form action="/carro" method="post">
    <input type="submit" value="Enviar Prdocutos">
</form>
</body>
