<body id="ProductsCastrol">
<h3>Productos Castrol</h3>

<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/cas7.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Aceite Motor</footer>
            A-2212 <br>
            <form action="/Carrito/add" method="Post">
                <p>Cantidad: <input type="number" name="cantidad" size="10">
                    <input type="hidden" name="producto" size="10" value="A-2212">
                </p>
                <input type="submit" value="Agregar">
            </form>
        </div>
    </div>
</div>

<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/cas6.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Aceite Caja</footer>
            A-5675 <br>
            <a href="/Carrito"/>Seleccionar</a>
            <form1 action="/Carrito" method="Post">
                <p>Cantidad: <input type="number" name="Cantidad" size="10"></p>
            </form1>
        </div>
    </div>
</div>
</div>

<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/cas3.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Aceite Transfer</footer>
            A-2121 <br>
            <a href="/Carrito"/>Seleccionar</a>
            <form1 action="/Carrito" method="Post">
                <p>Cantidad: <input type="number" name="Cantidad" size="10"></p>
            </form1>
        </div>
    </div>
</div>
</div>
<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 25rem;">
            <img src="images/cas5.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Aceite Caja AUT</footer>
            A-5411 <br>
            <a href="/Carrito"/>Seleccionar</a>
            <form1 action="/Carrito" method="Post">
                <p>Cantidad: <input type="number" name="Cantidad" size="10"></p>
            </form1>
        </div>
    </div>
</div>
</div>
<input type="submit" value="Enviar Pruductos" />
</body>
