<body id="ProductsMolykote">
<h3>Todos los productos a 65 pesos por hoy</h3>

<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/filtos.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Filtro de Aire Racing</footer>
            CBR17-170 <br>
            <form action="/CarritoMolykote/add" method="Post">
                <p>Cantidad: <input type="number" name="cantidad" size="10">
                    <input type="hidden" name="producto" size="10" value="CRR17-170">
                </p>
                <input type="submit" value="Agregar">
            </form>
        </div>
    </div>
</div>
</div>

<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/prod4.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Filtro de Aire TIT</footer>
            CBR17-370 <br>
            <form action="/CarritoMolykote/add" method="Post">
                <p>Cantidad: <input type="number" name="cantidad" size="10">
                    <input type="hidden" name="producto" size="10" value="CRR17-170">
                </p>
                <input type="submit" value="Agregar">
            </form>
        </div>
    </div>
</div>
</div>

<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 18rem;">
            <img src="images/fil.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Filtro de Habitaculo</footer>
            CBR17-470 <br>
            <form action="/CarritoMolykote/add" method="Post">
                <p>Cantidad: <input type="number" name="cantidad" size="10">
                    <input type="hidden" name="producto" size="10" value="CRR17-170">
                </p>
                <input type="submit" value="Agregar">
            </form>
        </div>
    </div>
</div>
</div>
<div style="float:left;">
    <div class="container mt=5">
        <div class="card" style="width: 25rem;">
            <img src="images/lalala.png" class="card-img-top" width="150px" height="150px"/>
            <footer>Filtro de Aire</footer>
            CBR17-130 <br>
            <form action="/CarritoMolykote/add" method="Post">
                <p>Cantidad: <input type="number" name="cantidad" size="10">
                    <input type="hidden" name="producto" size="10" value="CRR17-170">
                </p>
                <input type="submit" value="Agregar">
            </form>
        </div>
    </div>
</div>
</div>
<input type="submit" value="Enviar Pruductos" />
</body>
