<iframe style="border: 0;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2339.61062712214!2d-64.20561179375073!3d-31.395890290669062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432988cd85a8987%3A0x91aebf877bf0e18d!2sOechsle%20S.A.!5e0!3m2!1ses!2sar!4v1623033538239!5m2!1ses!2sar"
        width="1300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!-- en style le pongo margen grande asi queda parecido a la pagina , pero por ahora lo dejo ahi -->
<section>
    <div style="float:left; width:1%">
        <div class="container mt=5">
            <div class="card" style="width: 18rem;">
                <h3>Nuestra Oficina</h3>
                <div class="card-body">
                    <ol>
                        <l1>Dr. Eliseo Cantón 1870</l1><br>
                        <l1>X5003AHB, Córdoba, AR</l1><br>
                        <l1>+54 351 489 0900</l1><br>
                        <l1>+54 351 489 0809</l1><br>
                        <l1>atclientes@oechsle.com.ar</l1><br>
                        <l1><a href="/Descuento" class="btn btn-primary">Retiro en sucursal</a></l1>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div5>
    <h3> Ingrese datos de su direccion </h3>
</div5>

<form action="/Descuento" method="POST">
    Provincia: <input type="text" name="provincia"><br>
    Ciudad: <input type="text" name="ciudad"><br>
    Direccion: <input type="text" name="direccion"><br>


    <input type="submit">
</form>
